

<div class="body">

  <!-- Starbackground -->
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <!-- parallax text/java -->
  <div id="parallax">
    <div class="layer" data-depth="0.6">

  <!-- text -->
      <div class="some-space">
        <h1><div>Witamy</div>
          <div style="margin: 2rem;font-size: 1rem;letter-spacing: normal;">Dane Kontaktowe
            <div style="display: flex; justify-content: center; align-items: center;">
            <a href="tel:+48513274649" style="position: static; transform: none;">Telefon</a>
            <a href="mailto:rudy@gmail.com" style="position: static; transform: none;" >Email</a>
            <a href="https://goo.gl/maps/GgZhbFckAKP6sYNy7" style="position: static; transform: none;" >Lokalizacja</a>
            </div>
          </div>
        </h1>

      </div>

    </div>
    <div class="layer" data-depth="0.4">
      <div id="particles-js"></div>
    </div>


</div>
